<div class="container" style="text-align: center;">
    <div class="row">
        <div class="col">
            <a href="/subject" style="text-decoration: none;">
                <div class="card view-grades-card" style="max-width: 100%; cursor: pointer;">
                    <div class="card-body">
                        <h3 class="card-title" style="text-align: center;">View Grades</h3><br><br>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="/tuition" style="text-decoration: none;">
                <div class="card view-tuition-card" style="max-width: 100%; cursor: pointer;">
                    <div class="card-body">
                        <h3 class="card-title" style="text-align: center;">View Tuition</h3><br><br>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="/studentprofile" style="text-decoration: none;">
                <div class="card check-profile-card" style="max-width: 100%; cursor: pointer;">
                    <div class="card-body">
                        <h3 class="card-title" style="text-align: center;">Check Profile</h3><br><br>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
