<div class="container" style="text-align: center;">
    <h1>Student Enrollment</h1>
</div>


<div class="container" style="text-align: center;">
    <div class="row">

        <div class="col-md">
            <div class="card" style="max-width: 100%;">
                <div class="card-body">
                    <h3 style="text-align: center;">Registration Form</h3>
                    <br><br>
                    <form>
                        <div class="form-row">
                            <div class="col">
                                <label for="first_name">First Name:</label><br>
                                <input type="text" class="form-control" id="input2" name="first_name"><br><br>
                            </div>
                            <div class="col">
                                <label for="middle_name">Middle Name:</label><br>
                                <input type="text" class="form-control" id="middle_name" name="middle_name"><br><br>
                            </div>
                            <div class="col">
                                <label for="last_name">Last Name:</label><br>
                                <input type="text" class="form-control" id="last_name" name="last_name"><br><br>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col">
                                <label for="date_of_birth">Birth Date:</label><br>
                                <input type="date" id="date_of_birth" class="form-control" name="date_of_birth"
                                    value="2000-12-30" min="1978-01-01" max="2060-12-31" /><br><br>
                            </div>
                            <div class="col">
                                <label for="contact_no">Contact Number:</label><br>
                                <input type="text" class="form-control" id="contact_no" name="contact_no"><br><br>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col">
                                <label for="email">Email:</label><br>
                                <input type="text" class="form-control" id="email" name="email"
                                    placeholder="enteryouremail@example.com"><br>
                            </div>
                            <div class="col">
                                <label for="address">Address:</label><br>
                                <input type="text" class="form-control" id="address" name="address"><br>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col">
                                <label for="status">Status:</label><br>
                                <input type="text" class="form-control" id="status" name="status" readonly><br>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col">
                                <label for="created_by">Created By:</label><br>
                                <input type="text" class="form-control" id="created_by" name="created_by" readonly><br>
                            </div>
                            <div class="col">
                                <label for="created_date">Created Date:</label><br>
                                <input type="text" class="form-control" id="created_date" name="created_date"
                                    readonly><br>
                            </div>
                        </div>

                        <br><br>

                        <div class="mb-3">
                            <label for="image" class="form-label">Upload your photo</label>
                            <input class="form-control" type="file" id="image" name="image"><br><br>
                        </div>

                        <div class="container">
                            <button type="button" class="btn btn-primary w-100">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>