<div class="container" style="text-align: center;">
    <h1>Subject Prices</h1>
</div>

<div class="container" style="text-align: center;">
    <div class="card" style="max-width: 100%;">
        <div class="card-body">
            <table class="table table-modern sortable" id="subjectpriceTable">
                <thead>
                    <tr>
                        <th scope="col">Subject ID</th>
                        <th scope="col">Price</th>
                        <th scope="col">No. of Units</th>
                        <th scope="col">No. of Hours</th>
                        <th scope="col">Status</th>
                        <th scope="col">Created By</th>
                        <th scope="col">Created Date</th>
                    </tr>
                </thead>
                <tbody class = "justify-content-center">
                    
                </tbody>
            </table>
        </div>
    </div>
</div>