<script>
    //GET-SUBJECT
    $(document).ready(function () {
        // Fetch subjects from the database
        loadTable();

    });

    function loadTable() {
        $.ajax({
            url: '/subjectprice/get-subjectprice', // The endpoint to get the subject data
            method: 'GET',
            success: function (data) {
                console.log(data); // Log the full response to inspect it

                // Check if subjects is an array and handle the response
                if (Array.isArray(data.subjectsprice)) {
                    // Empty the table body before appending new rows
                    $('#subjectpriceTable tbody').empty();

                    // Loop through the subjects array and add rows to the table
                    data.subjectsprice.forEach(subjectprice => {
                        $('#subjectpriceTable tbody').append(`
                            <tr>
                            <th scope="row">${subjectprice.msp_subject_id}</th>
                                <td>${subjectprice.msp_price}</td>
                                <td>${subjectprice.msp_no_unit}</td>
                                <td>${subjectprice.msp_no_of_hour}</td>
                                <td>${subjectprice.msp_status}</td>
                                <td>${subjectprice.msp_created_by}</td>
                                <td>${subjectprice.msp_created_date}</td>
                            </tr>
                        `);
                    });

                    $('#subjectpriceTable tbody').on('click', '#BtnDelete', function () {
                        var subjectpriceId = $(this).data('id');
                        deleteSubject(subjectpriceId);
                    });
                } else {
                    console.log('Error: "subjects" is not an array or missing');
                }
            },
            error: function (error) {
                console.log('Error fetching subjects:', error);
            }
        });
    }
</script>