<div class="container" style="text-align: center;">
    <h1>Tuition</h1>
</div>

<div class="container mt-4 custom">
    <table class="table table-modern" >
        <thead>
            <tr>
                <th>Student ID</th>
                <th>School Year</th>
                <th>School Term</th>
                <th>Status</th>
                <th>Total</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="tuitionTableBody">
            
        </tbody>
    </table>
</div>

<!--Modal for new transactions-->
<div class="modal fade" id="newTransaction" tabindex="-1" aria-labelledby="exampleModalLabelnew" aria-hidden="true"
    role="dialog">
    <div class="modal-dialog modal-lg-custom2" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabelnew">New Transaction</h5>
            </div>
            <div class="modal-body">
                <div class="container" style="text-align: center;">
                    <div class="row">
                        <div class="col-md">
                            <div class="card" style="max-width: 100%;">
                                <div class="card-body">
                                    <h3 style="text-align: center;">Transaction Form</h3>
                                    <br><br>
                                    <form>
                                        <div class="form-row">
                                            <div class="col">
                                                <label for="tuition_fee_id">Tuition Fee ID</label><br>
                                                <input type="text" class="form-control" id="tuition_fee_id"
                                                    name="tuition_fee_id" disabled><br><br>
                                            </div>
                                            <div class="col">
                                                <label for="mode_of_payment">Mode of Payment:</label>
                                                <select id="mode_of_payment" class="form-control">
                                                    <option value="CASH">CASH</option>
                                                    <option value="CREDIT CARD">CREDIT CARD</option>
                                                    <option value="DEBIT CARD">DEBIT CARD</option>
                                                    <option value="E-PAYMENT">E-PAYMENT</option>
                                                </select>
                                            </div>
                                            <div class="col">
                                                <label for="amount">Amount:</label><br>
                                                <input type="text" class="form-control" id="amount" name="amount"
                                                    placeholder="₱"><br><br>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="col">
                                                <label for="previous_balance">Previous Balance:</label><br>
                                                <input type="text" class="form-control" id="previous_balance"
                                                    name="previous_balance" placeholder="₱"><br><br>
                                            </div>
                                            <div class="col">
                                                <label for="current_balance">Current Balance:</label><br>
                                                <input type="text" class="form-control" id="current_balance"
                                                    name="current_balance" placeholder="₱"><br><br>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="col">
                                                <label for="received_by">Received By:</label><br>
                                                <input type="text" class="form-control" id="received_by"
                                                    name="received_by"><br>
                                            </div>
                                            <div class="col">
                                                <label for="paid_by">Paid By:</label><br>
                                                <input type="text" class="form-control" id="paid_by" name="paid_by"><br>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" data-dismiss="modal">Confirm Transaction</button>
            </div>
        </div>
    </div>
</div>

<!--Modal for editing transactions inside collapsable rows-->
<div class="modal fade" id="editTransaction" tabindex="-1" aria-labelledby="exampleModalLabelnew" aria-hidden="true"
    role="dialog">
    <div class="modal-dialog modal-lg-custom2" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabelnew">New Transaction</h5>
            </div>
            <div class="modal-body">
                <div class="container" style="text-align: center;">
                    <div class="row">
                        <div class="col-md">
                            <div class="card" style="max-width: 100%;">
                                <div class="card-body">
                                    <h3 style="text-align: center;">Transaction Form</h3>
                                    <br><br>
                                    <form>
                                        <div class="form-row">
                                            <div class="col">
                                                <label for="tuition_fee_id">Tuition Fee ID</label><br>
                                                <input type="text" class="form-control" id="tuition_fee_id"
                                                    name="tuition_fee_id" disabled><br><br>
                                            </div>
                                            <div class="col">
                                                <label for="mode_of_payment">Mode of Payment:</label>
                                                <select id="mode_of_payment" class="form-control">
                                                    <option value="CASH">CASH</option>
                                                    <option value="CREDIT CARD">CREDIT CARD</option>
                                                    <option value="DEBIT CARD">DEBIT CARD</option>
                                                    <option value="E-PAYMENT">E-PAYMENT</option>
                                                </select>
                                            </div>
                                            <div class="col">
                                                <label for="amount">Amount:</label><br>
                                                <input type="text" class="form-control" id="amount" name="amount"
                                                    placeholder="₱"><br><br>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="col">
                                                <label for="previous_balance">Previous Balance:</label><br>
                                                <input type="text" class="form-control" id="previous_balance"
                                                    name="previous_balance" placeholder="₱"><br><br>
                                            </div>
                                            <div class="col">
                                                <label for="current_balance">Current Balance:</label><br>
                                                <input type="text" class="form-control" id="current_balance"
                                                    name="current_balance" placeholder="₱"><br><br>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="col">
                                                <label for="received_by">Received By:</label><br>
                                                <input type="text" class="form-control" id="received_by"
                                                    name="received_by"><br>
                                            </div>
                                            <div class="col">
                                                <label for="paid_by">Paid By:</label><br>
                                                <input type="text" class="form-control" id="paid_by" name="paid_by"><br>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" data-dismiss="modal">Confirm Changes</button>
            </div>
        </div>
    </div>
</div>

<!--Modal for editing tuition-->
<div class="modal fade" id="editTuition" tabindex="-1" aria-labelledby="exampleModalLabelnew" aria-hidden="true"
    role="dialog">
    <div class="modal-dialog modal-lg-custom2" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabelnew">Edit Tuition</h5>
            </div>
            <div class="modal-body">
                <div class="container" style="text-align: center;">
                    <div class="row">
                        <div class="col-md">
                            <div class="card" style="max-width: 100%;">
                                <div class="card-body">
                                    <h3 style="text-align: center;">Student Tuition</h3>
                                    <br><br>
                                    <form>
                                        <div class="form-row">
                                            <div class="col">
                                                <label for="student_id">Student ID</label><br>
                                                <input type="text" class="form-control" id="student_id"
                                                    name="student_id" disabled><br><br>
                                            </div>
                                            <div class="col">
                                                <label for="status">Status:</label>
                                                <select id="status" class="form-control">
                                                    <option value="PAID">PAID</option>
                                                    <option value="PARTIALLY PAID">PARTIALLY PAID</option>
                                                    <option value="NOT PAID">NOT PAID</option>
                                                </select>
                                            </div>
                                            <div class="col">
                                                <label for="amount">Total:</label><br>
                                                <input type="text" class="form-control" id="amount" name="amount"
                                                    placeholder="₱"><br><br>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="col">
                                                <label for="school_year">School Year:</label><br>
                                                <input type="text" class="form-control" id="school_year"
                                                    name="school_year" placeholder="2020-2021"><br><br>
                                            </div>
                                            <div class="col">
                                                <label for="school_term">School Term:</label><br>
                                                <select id="school_term" class="form-control">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" data-dismiss="modal">Confirm Changes</button>
            </div>
        </div>
    </div>
</div>