<!-- THIS IS FOR THE ADMIN SCREEN -->
<div class="container" style="text-align: center;">
    <h1>Students Enrolled</h1>
</div>

<div class="container" style="text-align: center; max-width: 100%;">


    <div class="card" style="max-width: 100%; overflow-x: auto;">
        <div style="position: absolute; top: 15px; right: 10px; display: flex; gap: 10px;">
            <button class="btn btn-primary" id="BtnAddStudent">Add Student</button>
        </div>

        <div class="card-body mt-5">
            <!-- Table with scrollable content -->
            <div class="table-responsive" style="max-height: 500px; overflow-y: auto;">
                <table class="table table-modern">
                    <thead>
                        <tr>
                            <th scope="col">Student ID</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Middle Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Date of Birth</th>
                            <th scope="col">Contact Number</th>
                            <th scope="col">Email</th>
                            <th scope="col">Address</th>
                            <th scope="col">Status</th>
                            <th scope="col">Created By</th>
                            <th scope="col">Created Date</th>
                            <th scope="col">Subjects</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">2025-01-0001</th>
                            <td>Otto</td>
                            <td>Calabasa</td>
                            <td>Mcdonalds</td>
                            <td>2000-12-30</td>
                            <td>09955556644</td>
                            <td>studentofthisschool@example.com</td>
                            <td>Blk 50, Lot 50, Southern Montissori, Mayon Volcano, Calamares, Laguna</td>
                            <td>Enrolled</td>
                            <td>Shawn Desanta</td>
                            <td>2025-01-22</td>
                            <td>
                                <button class="btn btn-primary" id="BtnView">View</button>
                            </td>
                            <td>
                                <button class="btn btn-warning" id="BtnEdit">Edit</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- Modal for Subjects-->
<div class="modal fade" id="viewModal" tabindex="-1" aria-labelledby="exampleModalLabelnew" aria-hidden="true"
    role="dialog">
    <div class="modal-dialog modal-lg-custom" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabelnew">Subjects</h5>
            </div>
            <div class="modal-body">
                <div class="container" style="text-align: center; max-width: 100%">
                    <div class="card" style="max-width: 100%;">
                        <div style="position: absolute; top: 15px; right: 10px; display: flex; gap: 10px;">
                            <button class="btn btn-primary" id="BtnAddSubject">Add Subject</button>
                        </div>
                        <div class="card-body mt-5">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Subject Code</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Grade</th>
                                        <th scope="col">Final Grade:</th>
                                        <th scope="col">School Year:</th>
                                        <th scope="col">School Term:</th>
                                        <th scope="col">Status:</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>ITEC55</td>
                                        <td>Data Analytics</td>
                                        <td>85</td>
                                        <td>86</td>
                                        <td>2020-2021</td>
                                        <td>2</td>
                                        <td>Active</td>
                                        <td>
                                            <button class="btn btn-warning" id="BtnEdit2">Edit</button>
                                            <button class="btn btn-danger" id="BtnDelete2">Delete</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>ITEC55</td>
                                        <td>Data Analytics</td>
                                        <td>85</td>
                                        <td>86</td>
                                        <td>2020-2021</td>
                                        <td>2</td>
                                        <td>Active</td>
                                        <td>
                                            <button class="btn btn-warning" id="viewBtn">Edit</button>
                                            <button class="btn btn-danger" id="viewBtn">Delete</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>ITEC55</td>
                                        <td>Data Analytics</td>
                                        <td>85</td>
                                        <td>86</td>
                                        <td>2020-2021</td>
                                        <td>2</td>
                                        <td>Active</td>
                                        <td>
                                            <button class="btn btn-warning" id="viewBtn">Edit</button>
                                            <button class="btn btn-danger" id="viewBtn">Delete</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>ITEC55</td>
                                        <td>Data Analytics</td>
                                        <td>85</td>
                                        <td>86</td>
                                        <td>2020-2021</td>
                                        <td>2</td>
                                        <td>Active</td>
                                        <td>
                                            <button class="btn btn-warning" id="viewBtn">Edit</button>
                                            <button class="btn btn-danger" id="viewBtn">Delete</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" data-dismiss="modal">Save Changes</button>
            </div>
        </div>
    </div>
</div>

<!--Modal for Adding Students-->
<div class="modal fade" id="addStudent" tabindex="-1" aria-labelledby="exampleModalLabelnew" aria-hidden="true"
    role="dialog">
    <div class="modal-dialog modal-lg-custom2" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabelnew">Subjects</h5>
            </div>
            <div class="modal-body">
                <div class="container" style="text-align: center;">
                    <div class="row">
                        <div class="col-md">
                            <div class="card" style="max-width: 100%;">
                                <div class="card-body">
                                    <h3 style="text-align: center;">Registration Form</h3>
                                    <br><br>
                                    <form>
                                        <div class="form-row">
                                            <div class="col">
                                                <label for="first_name">First Name:</label><br>
                                                <input type="text" class="form-control" id="input2"
                                                    name="first_name"><br><br>
                                            </div>
                                            <div class="col">
                                                <label for="middle_name">Middle Name:</label><br>
                                                <input type="text" class="form-control" id="middle_name"
                                                    name="middle_name"><br><br>
                                            </div>
                                            <div class="col">
                                                <label for="last_name">Last Name:</label><br>
                                                <input type="text" class="form-control" id="last_name"
                                                    name="last_name"><br><br>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="col">
                                                <label for="date_of_birth">Birth Date:</label><br>
                                                <input type="date" id="date_of_birth" class="form-control"
                                                    name="date_of_birth" value="2000-12-30" min="1978-01-01"
                                                    max="2060-12-31" /><br><br>
                                            </div>
                                            <div class="col">
                                                <label for="contact_no">Contact Number:</label><br>
                                                <input type="text" class="form-control" id="contact_no"
                                                    name="contact_no"><br><br>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="col">
                                                <label for="email">Email:</label><br>
                                                <input type="text" class="form-control" id="email" name="email"
                                                    placeholder="enteryouremail@example.com"><br>
                                            </div>
                                            <div class="col">
                                                <label for="address">Address:</label><br>
                                                <input type="text" class="form-control" id="address" name="address"><br>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="col">
                                                <label for="status">Status:</label><br>
                                                <input type="text" class="form-control" id="status" name="status"
                                                    readonly><br>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="col">
                                                <label for="created_by">Created By:</label><br>
                                                <input type="text" class="form-control" id="created_by"
                                                    name="created_by" readonly><br>
                                            </div>
                                            <div class="col">
                                                <label for="created_date">Created Date:</label><br>
                                                <input type="text" class="form-control" id="created_date"
                                                    name="created_date" readonly><br>
                                            </div>
                                        </div>

                                        <br><br>

                                        <div class="mb-3">
                                            <label for="image" class="form-label">Upload your photo</label>
                                            <input class="form-control" type="file" id="image" name="image"><br><br>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" data-dismiss="modal">Confirm</button>
            </div>
        </div>
    </div>
</div>

<!--Modal for adding student subjects-->
<div class="modal fade" id="addSubject" tabindex="-1" aria-labelledby="exampleModalLabelnew" aria-hidden="true"
    role="dialog">
    <div class="modal-dialog modal-lg-custom2" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabelnew">Subjects</h5>
            </div>
            <div class="modal-body">
                <div class="container" style="text-align: center;">
                    <div class="card" style="max-width: 100%;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <label for="code">Subject Code:</label><br>
                                    <input type="text" class="form-control" id="code"><br><br>
                                </div>
                                <div class="col">
                                    <label for="school_year">School Year:</label><br>
                                    <input type="text" class="form-control" id="school_year"><br><br>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <label for="status">Status:</label><br>
                                    <select class="form-control" id="status" name="status">
                                        <option value="active">Active</option>
                                        <option value="inactive">Inactive</option>
                                    </select><br>
                                </div>
                                <div class="col">
                                    <label for="term">School Term:</label><br>
                                    <select class="form-control" id="term" name="term">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" data-dismiss="modal">Save Changes</button>
            </div>
        </div>
    </div>
</div>


<!--Modal for editing student subjects-->
<div class="modal fade" id="deleteStudent" tabindex="-1" aria-labelledby="exampleModalLabelnew" aria-hidden="true"
    role="dialog">
    <div class="modal-dialog modal-lg-custom" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabelnew">Subjects</h5>
            </div>
            <div class="modal-body">
                <div class="container" style="text-align: center; max-width: 100%">
                    <div class="card" style="max-width: 100%;">



                        <div class="card-body">

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" data-dismiss="modal">Save Changes</button>
            </div>
        </div>
    </div>
</div>

<!--Modal for editing student subjects-->
<div class="modal fade" id="editModal2" tabindex="-1" aria-labelledby="exampleModalLabelnew" aria-hidden="true"
    role="dialog">
    <div class="modal-dialog modal-lg-custom" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabelnew">Subjects</h5>
            </div>
            <div class="modal-body">
                <div class="container" style="text-align: center; max-width: 100%">
                    <div class="card" style="max-width: 100%;">



                        <div class="card-body">

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" data-dismiss="modal">Save Changes</button>
            </div>
        </div>
    </div>
</div>


<!--Modal for editing student profile-->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabelnew" aria-hidden="true"
    role="dialog">
    <div class="modal-dialog modal-lg-custom2" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabelnew">Update Student Profile</h5>
            </div>
            <div class="modal-body">
                <div class="container" style="text-align: center;">
                    <div class="card">
                        <div class="card-body">
                            <h3 style="text-align: center;">Student Information</h3><br>

                            <div class="row">
                                <div class="col">
                                    <img src="https://i.ibb.co/PxNQTt0/image-2025-01-22-133732301.png"
                                        class="img-thumbnail" alt="placeholder"
                                        style="width: 200px; height: 200px;"><br><br>
                                </div>
                            </div>

                            <div class="row">

                            </div>

                            <div class="row">
                                <div class="col">
                                    <label for="first_name">First Name:</label><br>
                                    <input type="text" class="form-control" id="input2" name="first_name"><br><br>
                                </div>
                                <div class="col">
                                    <label for="middle_name">Middle Name:</label><br>
                                    <input type="text" class="form-control" id="middle_name" name="middle_name"><br><br>
                                </div>
                                <div class="col">
                                    <label for="last_name">Last Name:</label><br>
                                    <input type="text" class="form-control" id="last_name" name="last_name"><br><br>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col">
                                    <label for="date_of_birth">Birth Date:</label><br>
                                    <input style="text-align: center;" type="date" id="date_of_birth"
                                        class="form-control" name="date_of_birth" value="2000-12-30" min="1978-01-01"
                                        max="2060-12-31" /><br><br>
                                </div>
                                <div class="col">
                                    <label for="student_id">Student ID:</label><br>
                                    <input type="text" class="form-control" id="student_id" name="student_id"><br><br>
                                </div>
                                <div class="col">
                                    <label for="contact_no">Contact Number:</label><br>
                                    <input type="text" class="form-control" id="contact_no" name="contact_no"><br><br>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col">
                                    <label for="email">Email:</label><br>
                                    <input type="text" class="form-control" id="email" name="email"
                                        placeholder="enteryouremail@example.com"><br>
                                </div>
                                <div class="col">
                                    <label for="status">Status:</label><br>
                                    <select class="form-control" id="status" name="status">
                                        <option value="Enrolled">Enrolled</option>
                                        <option value="Suspended">Suspended</option>
                                        <option value="Graduate">Graduate</option>
                                    </select><br>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col">
                                    <label for="address">Address:</label><br>
                                    <input type="text" class="form-control" id="address" name="address"><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" data-dismiss="modal">Save Changes</button>
            </div>
        </div>
    </div>
</div>