<!DOCTYPE html>
<html lang="en">

<head>

    <%- include("../Components/header.ejs")%>
    <link rel="stylesheet" href="/stylesheets/style.css">


</head>

<body id="page-top" class="loginbody">
    <div class="">

        <div class="container-fluid">

            <%- include("../Pages/Login/login.ejs")%>

        </div>


        <%- include("../Components/scripts.ejs")%>
            <%- include("../Pages/Login/loginscript.ejs")%>
    </div>

</body>

</html>