<script>
//GET-STUDENT
    $(document).ready(function () {
        $.ajax({
            url: '/studentgrade/get-studentgrade',
            method: 'GET',
            success: function (data) {
                console.log(data);

                if (Array.isArray(data.grades)) {
                    $('#gradesTable tbody').empty();

                    data.grades.forEach(grade => {
                        $('#gradesTable tbody').append(`
                        <tr>
                            <th scope="row">${grade.sg_subject_id}</th>
                            <td>${grade.sg_school_year}</td>
                            <td>${grade.sg_term}</td>
                            <td>${grade.sg_grades}</td>
                            <td>${grade.sg_final_grade}</td>
                            <td>${grade.sg_status}</td>
                        </tr>
                    `);
                    });
                } else {
                    console.log('Error: "grades" is not an array or missing');
                }
            },
            error: function (error) {
                console.log('Error fetching grades:', error);
            }
        });
    });
</script>