<ul class="navbar-nav custom-gradient sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="../">
        <div class="sidebar-brand-icon rotate-n-15">
            <img src="https://i.ibb.co/sy5f03H/image-2025-01-24-094814592.png" style = "height: 60px; width: 60px;">
        </div>
        <div class="sidebar-brand-text mx-3">Solara Institute</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="../">
            <i class="fas fa-columns"></i>
            <span>Admin Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Modules
    </div>

    <li class="nav-item">
        <a class="nav-link" href="/student">
            <i class="fas fa-users"></i>
            <span>View Students</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/adminsubject">
            <i class="fas fa-book"></i>
            <span>View Subjects</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/studentregistration">
            <i class="fab fa-wpforms"></i>
            <span> View Registration Form</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/studentdashboard">
            <i class="fas fa-fw fa-chart-area"></i>
            <span> Student Dashboard</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true"
            aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Subjects</span>
        </a>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Subjects:</h6>
                <a class="collapse-item" href="/subject">View Subjects Available</a>
                <a class="collapse-item" href="/subjectadd">Add Subject</a>
            </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/tuition">
            <i class="fas fa-fw fa-chart-area"></i>
            <span> Tuition</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/subjectprice">
            <i class="fas fa-fw fa-chart-area"></i>
            <span> Subject Prices</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Logging
    </div>


    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="/syslogs">
            <i class="fas fa-cogs"></i>
            <span>System Logs</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>