<ul class="navbar-nav custom-gradient sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="../">
        <div class="sidebar-brand-icon rotate-n-15">
            <img src="https://i.postimg.cc/prz1zv1m/image.png" style = "height: 60px; width: 60px;">
        </div>
        <div class="sidebar-brand-text mx-3">Solara Institute</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/studentdashboard">
            <i class="fas fa-fw fa-chart-area"></i>
            <span> Student Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Menu
    </div>

    <li class="nav-item">
        <a class="nav-link" href="/studentgrade">
            <i class="fas fa-users"></i>
            <span>View Grades</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/subject">
            <i class="fas fa-book"></i>
            <span>View Subjects</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/studenttuition">
            <i class="fas fa-wallet"></i>
            <span>View Tuition</span></a>
    </li>

    <hr class="sidebar-divider">

    <!-- <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true"
            aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Subjects</span>
        </a>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Subjects:</h6>
                <a class="collapse-item" href="/subject">View Subjects Available</a>
                <a class="collapse-item" href="/subjectadd">Add Subject</a>
            </div>
        </div>
    </li> -->

    

    <!-- <li class="nav-item">
        <a class="nav-link" href="/subjectprice">
            <i class="fas fa-fw fa-chart-area"></i>
            <span> Subject Prices</span></a>
    </li> -->

    <!-- Divider -->

    <!-- Heading -->


    <!-- Nav Item - Charts -->

    <!-- Divider -->

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>