<div class="container-fluid d-flex justify-content-center align-items-center" 
     style="width: 93%; height: 100px; color: white; font-size: 2rem; 
            background: linear-gradient(to bottom, #EB5A3C, #DF9755);
            border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
    <h1 style="text-align: center; font-weight: bold; letter-spacing: 2px;">SOLARA INSTITUTE DASHBOARD</h1>
</div>



<div class="container-fluid d-flex flex-column" style="height: 80vh;">
    <div class="card-body d-flex justify-content-between">
        <!-- First Card -->
        <a href="/student" class="col-4 d-flex flex-column align-items-center">
            <div class="card view-student-card w-100" style="height: 80%; border-radius: 10px; font-size: 2rem; cursor: pointer; background-image: url('https://i.ibb.co/mFY7LWQ/image-2025-01-24-152805710.png'); background-size: cover; background-position: center;">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <h3 class="card-title">View Students</h3>
                </div>
            </div>
        </a>
        <!-- Second Card -->
        <a href="/adminsubject" class="col-4 d-flex flex-column align-items-center">
            <div class="card view-subject-card w-100" style="height: 80%; border-radius: 10px; font-size: 2rem; cursor: pointer; background-image: url('https://i.ibb.co/RHkTwRV/image.png'); background-size: cover; background-position: center;">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <h3 class="card-title">View Subjects</h3>
                </div>
            </div>
        </a>
        <!-- Third Card -->
        <a href="/tuition" class="col-4 d-flex flex-column align-items-center">
            <div class="card check-tuition-card w-100" style="height: 80%; border-radius: 10px; font-size: 2rem; cursor: pointer; background-image: url('https://i.ibb.co/6HQmdDQ/image.png'); background-size: cover; background-position: center;">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <h3 class="card-title">View Tuitions</h3>
                </div>
            </div>
        </a>
    </div>
</div>
