<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">PROFILE</h1>
</div>

<!-- Content Row -->
<div class="container" style="text-align: center;">
    <div class="card">
        <div class="card-body">
            <h3 style="text-align: center;">Student Information</h3><br><br>

            <div class="row">
                <div class="col">
                    <img src="http://goo.gl/ijai22" class="img-thumbnail" alt="placeholder">
                </div>
            </div>

            <div class="row">
                
            </div>

            <div class="row">
                <div class="col">
                    <label for="first_name">First Name:</label><br>
                    <input type="text" class="form-control" id="input2" name="first_name" disabled><br><br>
                </div>
                <div class="col">
                    <label for="middle_name">Middle Name:</label><br>
                    <input type="text" class="form-control" id="middle_name" name="middle_name" disabled><br><br>
                </div>
                <div class="col">
                    <label for="last_name">Last Name:</label><br>
                    <input type="text" class="form-control" id="last_name" name="last_name" disabled><br><br>
                </div>
            </div>

            <div class="form-row">
                <div class="col">
                    <label for="date_of_birth">Birth Date:</label><br>
                    <input style= "text-align: center;" type="date" id="date_of_birth" class="form-control" name="date_of_birth" value="2000-12-30"
                        min="1978-01-01" max="2060-12-31" disabled /><br><br>
                </div>
                <div class="col">
                    <label for="student_id">Student ID:</label><br>
                    <input type="text" class="form-control" id="student_id" name="student_id" disabled><br><br>
                </div>
                <div class="col">
                    <label for="contact_no">Contact Number:</label><br>
                    <input type="text" class="form-control" id="contact_no" name="contact_no" disabled><br><br>
                </div>
            </div>

            <div class="form-row">
                <div class="col">
                    <label for="email">Email:</label><br>
                    <input type="text" class="form-control" id="email" name="email"
                        placeholder="enteryouremail@example.com" disabled><br>
                </div>
                <div class="col">
                    <label for="status">Status:</label><br>
                    <input type="text" class="form-control" id="status" name="status" disabled><br>
                </div>
            </div>

            <div class="form-row">
                <div class="col">
                    <label for="address">Address:</label><br>
                    <input type="text" class="form-control" id="address" name="address" disabled><br>
                </div>
            </div>
        </div>
    </div>
</div>