<div class="container" style="text-align: center;">
    <h1>Grades</h1>
</div>

<div class="container" style="text-align: center;">
    <div class="card" style="max-width: 100%;">
        <div class="card-body">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Subject Code</th>
                    <th scope="col">Description</th>
                    <th scope="col">Grade</th>
                    <th scope="col">Final Grade:</th>
                    <th scope="col">School Year:</th>
                    <th scope="col">School Term:</th>
                    <th scope="col">Status:</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>ITEC55</td>
                    <td>Data Analytics</td>
                    <td>85</td>
                    <td>86</td>
                    <td>2020-2021</td>
                    <td>2</td>
                    <td>Active</td>
                  </tr>
                  <tr>
                    <td>ITEC55</td>
                    <td>Data Analytics</td>
                    <td>85</td>
                    <td>86</td>
                    <td>2020-2021</td>
                    <td>2</td>
                    <td>Active</td>
                  </tr>
                  <tr>
                    <td>ITEC55</td>
                    <td>Data Analytics</td>
                    <td>85</td>
                    <td>86</td>
                    <td>2020-2021</td>
                    <td>2</td>
                    <td>Active</td>
                  </tr>
                  <tr>
                    <td>ITEC55</td>
                    <td>Data Analytics</td>
                    <td>85</td>
                    <td>86</td>
                    <td>2020-2021</td>
                    <td>2</td>
                    <td>Active</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>