<div class = "container" style="text-align: center;">
    <h1>Subjects</h1>
</div>

<div class = "container" style="text-align: center;">
    <div class="card" style="max-width: 100%;">
        <div style="position: absolute; top: 15px; right: 10px; display: flex; gap: 10px;">
            <button class="btn btn-primary">Add Subject</button>
            <button class="btn btn-primary">Edit Subject</button>
            <button class="btn btn-danger">Delete Subject</button>
        </div>
        <div class="card-body mt-5">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Subject Code</th>
                        <th scope="col">Subject Description</th>
                        <th scope="col">Status</th>
                        <th scope="col">Created By</th>
                        <th scope="col">Created Date</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">ITEC55</th>
                        <td>Data Analytics</td>
                        <td>Active</td>
                        <td>John Cena</td>
                        <td>2020-02-22</td>
                        <td>
                            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button>
                        </td>
                </tr>
                </tbody>
                </table>
        </div>
    </div>
</div>