<div class="container" style="text-align: center;">
    <h1>System Logs</h1>
</div>

<div class="container" style="text-align: center;">
    <div class="card" style="max-width: 100%;">
        <div class="card-body">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Date & Time</th>
                    <th scope="col">Type</th>
                    <th scope="col">Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>2021-01-01</td>
                    <td>New Transaction</td>
                    <td>(Student ID) (Tuition Fee ID) (Mode of Payment) (Amount) (Previous Balance) (Current Balance) (Received By) (Paid By)</td>
                  </tr>
                  <tr>
                    <td>2021-01-02</td>
                    <td>Edit Transaction</td>
                    <td>(Student ID) (Tuition Fee ID) (Mode of Payment) (Amount) (Previous Balance) (Current Balance) (Received By) (Paid By)</td>
                  </tr>
                  <tr>
                    <td>2021-01-03</td>
                    <td>New Transaction</td>
                    <td>(Student ID) (Tuition Fee ID) (Mode of Payment) (Amount) (Previous Balance) (Current Balance) (Received By) (Paid By)</td>
                  </tr>
            </table>
        </div>
    </div>
</div>